<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename = 'myscript.js') }}"></script>
    <title>Weight team LETS GO</title>
</head>
<body>
    <div class="get">
        <button id='health'>Health</button>
        <button id="unknown">Unknown</button>
        <button id="item">Item</button>
        <button id="post">Post</button>
        <button id="session">Session</button>
        <button id="weight">Weight</button>
        <div id='text-info'></div>
    </div>
</body>
</html>